@charset "utf-8";

body {
  background: url("/images/background.jpg") center center no-repeat fixed;
  background-size: cover;
  color: #fff;
}

a, a:hover, a:visited {
  color: #fff;
  text-decoration: underline;
}

.main {
  width: 40%;
  max-width: 50ch;
  min-width: 20ch;
  margin: 10% auto auto auto;
  padding: 5ch;
  border-top: 5px solid rgba(129, 146, 174, .4);
  border-bottom: 5px solid rgba(129, 146, 174, .4);
  background: rgba(35, 50, 50, .8);
}

header {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-weight: 100;
  margin: 0px;
}

h2 {
  font-style: italic;
  font-size: .8rem;
}

.blurb {
  margin-top: 3ch;
  line-height: 3ch;
  text-align: center;
}

@media screen and (max-width: 80ch) {
  h1{ font-size: 2rem; }
  h2{ font-size: .6rem; }
}

@media screen and (max-height: 20rem) {
  .main { margin: 1rem auto auto auto; }
}
