---
title: Justin Crawford
subhead: Technical Leader | Solution Designer | Web developer | Product Engineer
blurb: For 20 years I have built things on the web on the server side and the browser side as an engineer, a project manager, a product manager, and other things in between.
---

<div class="main">

    <header>
      <h1><%= current_page.data.title %></title>
      <h2><%= current_page.data.subhead %></h2>
    </header>

    <div class="blurb"><%= current_page.data.blurb %></div>
</div>
