---
title: Justin Crawford
subhead: Technical Leader | Solution Designer | Web developer | Product Engineer
blurb: For 20 years I have built things on the web. On the server side and the browser side. As an engineer, a project manager, a product manager, and roles in between.
---

<!--
  Hi there! Welcome to my source code.

  This page and its associated assets were coded by hand. 
  The site was built using a tool called Middleman[0].
  The site is hosted on GitHub Pages[1].

  Since you're the source-reading type, go on and read it all[2].

  [0] https://middlemanapp.com/ 
  [1] https://pages.github.com/
  [2] https://github.com/hoosteeno/about
-->

<div class="box">
  <header>
    <h1><%= current_page.data.title %></h1>
    <h2><%= current_page.data.subhead %></h2>
  </header>

  <div class="blurb"><%= current_page.data.blurb %></div>

  <nav class="external">
    <a title="GitHub" href="https://github.com/hoosteeno"><i class="fa fa-github-square"><span>GitHub</span></i></a>
    <a title="Twitter" href="https://twitter.com/hoosteeno"><i class="fa fa-twitter-square"><span>Twitter</span></i></a>
    <a title="Stack Overflow" href="https://careers.stackoverflow.com/hoosteeno"><i class="fa fa-stack-overflow"><span>Stack Overflow</span></i></a>
  </nav>

</div>
